---

---


    <div class="relative h-[468px] w-full justify-center align-middle items-center object-center max-lg:w-full max-sm:mb-40">
        <div class="absolute z-10 w-[770px] top-9 h-[396px] px-7 py-6 bg-redModello rounded-[20px] flex-col justify-start items-start inline-flex text-pureWhite  max-lg:h-fit max-lg:block max-lg:w-full">
            <div class="self-stretch h-[273px] flex-col justify-start items-start gap-8 flex max-lg:h-fit max-lg:place-self-auto	">
                <div class=" text-5xl font-normal font-krona leading-tight max-lg:w-full max-sm:text-3xl">Tu red de contactos empieza aquí</div>
                <div class="font-poppins lead"><span style="text-white text-lg font-normal leading">Modello Coworking te brinda un entorno propicio para conocer a otros profesionales, intercambiar conocimientos y crear sinergias. <br/></span><span style="text-white text-lg font-normal"><br/>Nuestra comunidad es tu puerta de entrada a nuevas oportunidades de negocio.</span></div>
            </div>
            <a class="inline-block px-6 py-3 rounded-3xl bg-pureWhite text-redModello border border-redModello hover:border-pureWhite font-poppins text-sm font-semibold hover:text-pureWhite hover:bg-redModello max-lg:mt-8 max-sm:w-full text-center" href="">Agenda tu espacio</a>
        </div>
        <div>
            <img class="absolute z-0 w-[859px] h-full rounded-[20px] right-0 top-0 max-lg:hidden" src="images/HeroImage.jpg" />
        </div>
    </div>
