<div class="w-fullpb-10 flex mt-28">
    <div class=" w-1/2 h-full ">
        <div class="min-h-[370px] justify-center content-center bg-pureWhite rounded-b-3xl redondeo ">
            <h3 class="text-5xl font-krona font-normal z-20">Haz de  <span class="svg-background text-redModello z-0">Modello</span> coworking tu nuevo lugar favorito para trabajar</h3>
        </div>
        <div class=" bg-hombleBlack w-full h-12 rounded-tl-3xl"></div>
    </div>

    <div class="text-pureWhite bg-hombleBlack rounded-t-3xl z-20 justify-center font-poppins w-1/2 p-14">
        <h5 class="text-2xl">Nuestro espacio</h5>
        <p class="mt-2">Calle 33 A 42 - 71</p>
        <p>Barrio Barzal Alto Villavicencio, Colombia</p>

        <h5 class="mt-10 text-2xl">Conéctate con nosotros</h5>
        <ul class="flex gap-6 mt-2">
            <a href="https://www.instagram.com/modellocoworking/"><img src="images/InstagramIcon.svg" alt="Icono Instagram Modello" class="hover:opacity-80"></a>
            <a href="https://www.facebook.com/Modellocoworking/"><img src="images/FacebookIcon.svg" alt="Icono Facebook Modello" class="hover:opacity-80"></a>
        </ul>
        <p class="mt-10">Hecho con ❤️ por <a href="https://simplificalab.lat/" class="underline underline-offset-4 hover:text-[#B9FF66]" target="_blank">Simplifica Lab</a></p>

        <p class="mt-2">© 2024 Modello.</p>

    </div>
</div>


<style>

    .svg-background {
      position: relative;
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      padding: 0 10px;

    }
  
    .svg-background::before {
      content: '';
      position: absolute;
      top: -45px;
      left: -180px;
      width: 240%;
      height: 240%;
      background-image: url('images/CirculoFooter.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      z-index: -1;
    }
    .redondeo{
        box-shadow: 40px 40px 0px -4px rgba(7, 5, 5);

    }
  </style>
  