---
import Navbar from './Navbar.astro';


---
<div class="relative max-w-screen-2xl w-full mt-7 ">
  <Navbar/>
  

  <div class="absolute rounded-3xl inset-0 bg-cover bg-center" style="background-image: linear-gradient(254deg, rgba(82, 82, 82, 0.00) 15.57%, #1D1E1C 99.3%), url('images/HeroImage.jpg');"></div>
  <div class="relative text-pureWhite font-krona w-[640px] space-y-8 pt-4 pb-20 pl-14 top-0 z-10 mt-4">
      <h2 class="text-5xl  font-normal">Un espacio en Villavicencio diseñado para tu <span class="svg-background">éxito</span></h2>
      <h1 class="font-poppins text-base font-normal">Modello Coworking es el lugar donde los profesionales de Villavicencio se conectan, colaboran y crecen.</h1>
      <a class="inline-block mt-8 px-6 py-3 rounded-3xl bg-pureWhite text-redModello border border-redModello font-poppins text-sm font-semibold hover:text-pureWhite hover:border-redModello hover:bg-redModello"  href="https://api.whatsapp.com/send/?phone=573134057211&text&type=phone_number&app_absent=0" target="_blank">Agenda tu espacio</a>
    </div> 
</div>

<style>

  .svg-background {
    position: relative;
    display: inline-block;
    background-image: url('images/CirculoHero.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 10px;
  }

  .svg-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/CirculoHero.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }
</style>
