---
import { Image } from 'astro:assets';


---
<div class="mt-20 w-2/3 flex-row space-y-5">
    <h3 class="font-krona font-normal text-5xl leading-tight text-hombleBlack"><span class="text-redModello">Trabaja, conecta y crea</span> en un ambiente inspirador</h3>
    <p class="font-poppins ">En Modello, encontrarás salas privadas para concentrarte, salas de conferencias equipadas para tus reuniones más importantes y un acogedor café bistró para relajarte y recargar energías</p>
</div>


<div class="mt-8 mb-32 flex justify-between">
    <div class="w-[361px] h-[339px] z-10 relative">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="361" height="399" viewBox="0 0 361 399" fill="none">
            <path d="M0 378.5V20C0 8.95431 8.95431 0 20 0H341C352.046 0 361 8.95431 361 20V320.5C361 331.546 352.046 340.5 341 340.5H163.5C152.454 340.5 143.5 349.454 143.5 360.5V378.5C143.5 389.546 134.546 398.5 123.5 398.5H20C8.95431 398.5 0 389.546 0 378.5Z" fill="#F1F1F1"/>
            <path d="M0 378.5V20C0 8.95431 8.95431 0 20 0H341C352.046 0 361 8.95431 361 20V320.5C361 331.546 352.046 340.5 341 340.5H163.5C152.454 340.5 143.5 349.454 143.5 360.5V378.5C143.5 389.546 134.546 398.5 123.5 398.5H20C8.95431 398.5 0 389.546 0 378.5Z" fill="url(#pattern0_54_132)"/>
            <defs>
              <pattern id="pattern0_54_132" patternContentUnits="objectBoundingBox" width="1" height="1">
                <use xlink:href="#image0_54_132" transform="matrix(0.00188324 0 0 0.00170602 0 -0.179849)"/>
              </pattern>
              <image id="image0_54_132" width="531" height="797"  preserveAspectRatio="xMidYMid slice"  xlink:href="images/bfa84cba-f168-4be8-a423-34b0a85bd058.jpeg.webp"/>
            </defs>
          </svg>
          <div class="w-[210px] h-[52px] px-4 py-2 bg-stone-900 rounded-[15px] justify-center items-center inline-flex absolute z-0 right-0 -bottom-[60px]">
            <div class="text-white text-2xl font-normal font-poppins">Salas privadas</div>
        </div>    
    </div>

    <div class="w-[361px] h-[339px] z-10 relative">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="361" height="399" viewBox="0 0 361 399" fill="none">
            <path d="M0 378.5V20C0 8.95431 8.95431 0 20 0H341C352.046 0 361 8.95431 361 20V320.5C361 331.546 352.046 340.5 341 340.5H125.5C114.454 340.5 105.5 349.454 105.5 360.5V378.5C105.5 389.546 96.5457 398.5 85.5 398.5H20C8.95431 398.5 0 389.546 0 378.5Z" fill="#F1F1F1"/>
            <path d="M0 378.5V20C0 8.95431 8.95431 0 20 0H341C352.046 0 361 8.95431 361 20V320.5C361 331.546 352.046 340.5 341 340.5H125.5C114.454 340.5 105.5 349.454 105.5 360.5V378.5C105.5 389.546 96.5457 398.5 85.5 398.5H20C8.95431 398.5 0 389.546 0 378.5Z" fill="url(#pattern0_54_140)"/>
            <defs>
            <pattern id="pattern0_54_140" patternContentUnits="objectBoundingBox" width="1" height="1">
            <use xlink:href="#image0_54_140" transform="matrix(0.00167504 0 0 0.00151742 0 -0.10469)"/>
            </pattern>
              <image id="image0_54_140" width="600" height="797"  preserveAspectRatio="xMidYMid slice"  xlink:href="/images/be0f8169-16df-4858-b19f-0e09e1a10aad.jpeg.webp"/>
            </defs>
          </svg>
          <div class="w-[248px] h-[52px] px-4 py-2 bg-stone-900 rounded-[15px] justify-center items-center inline-flex absolute z-0 right-0 -bottom-[60px]">
            <div class="text-white text-2xl font-normal font-poppins">Salas conferencia</div>
        </div>    
    </div>

    <div class="w-[361px] h-[339px] z-10 relative">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="361" height="399" viewBox="0 0 361 399" fill="none">
            <path d="M0 378.5V20C0 8.95431 8.95431 0 20 0H341C352.046 0 361 8.95431 361 20V320.5C361 331.546 352.046 340.5 341 340.5H283.5C272.454 340.5 263.5 349.454 263.5 360.5V378.5C263.5 389.546 254.546 398.5 243.5 398.5H20C8.95431 398.5 0 389.546 0 378.5Z" fill="#F1F1F1"/>
            <path d="M0 378.5V20C0 8.95431 8.95431 0 20 0H341C352.046 0 361 8.95431 361 20V320.5C361 331.546 352.046 340.5 341 340.5H283.5C272.454 340.5 263.5 349.454 263.5 360.5V378.5C263.5 389.546 254.546 398.5 243.5 398.5H20C8.95431 398.5 0 389.546 0 378.5Z" fill="url(#pattern0_54_144)"/>
            <defs>
            <pattern id="pattern0_54_144" patternContentUnits="objectBoundingBox" width="1" height="1">
            <use xlink:href="#image0_54_144" transform="matrix(0.00188324 0 0 0.00170602 0 -0.179849)"/>
            </pattern>
              <image id="image0_54_144" width="531" height="797"  preserveAspectRatio="xMidYMid slice"  xlink:href="images/0153fc95-dd65-4cb3-a168-c34a93f7adff.jpeg.webp"/>
            </defs>
          </svg>
          <div class="w-[90px] h-[52px] px-4 py-2 bg-stone-900 rounded-[15px] justify-center items-center inline-flex absolute z-0 right-0 -bottom-[60px]">
            <div class="text-white text-2xl font-normal font-poppins">Café</div>
        </div>    
    </div>
</div>
