---
import { SEO } from "astro-seo";
const { title, description } = Astro.props;
import '@fontsource/krona-one';
import '@fontsource/poppins';
import Footer from '../components/Footer.astro'
---

<html lang="en">
	<html lang="es">
        <head>
            <SEO
            title={title || "Modello Coworking | Espacio de trabajo en Villavicencio"}
            description={description || "Modello Coworking en Villavicencio: Alquila salas de reuniones, oficinas y disfruta de un café en un ambiente productivo. Agenda tu espacio hoy mismo."}
            openGraph={{
                basic: {
                title: "Modello Coworking Villavicencio",
                type: "website",
                image: "https://scontent.fvvc1-1.fna.fbcdn.net/v/t39.30808-6/276290097_294516926146504_2168003976854606087_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=TVPwhiCapaUQ7kNvgFBwMKQ&_nc_ht=scontent.fvvc1-1.fna&oh=00_AYA2yTmdRe2W9N1SrVkRP9nLWt7_0hO2RSy89jL8O4IJJA&oe=6686544D",
                url: "https://modello.com.co",
                }
            }}
            extend={{
                link: [
                { rel: "icon", href: "/favicon.ico" },
                { rel: "canonical", href: "https://modello.com.co" }
                ],
                meta: [
                { name: "viewport", content: "width=device-width, initial-scale=1" },
                { name: "theme-color", content: "#E42500" },
                ],
            }}
            />
                <meta charset="UTF-8">
                <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
                <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
                <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
                <link rel="manifest" href="/site.webmanifest">
            </head>
        <body class="font-poppins max-w-screen-xl mx-auto px-6">
            <slot />
            <Footer/>
        </body>
</html>
